@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: ["dark", "light"];
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6A994E; /* Avocado Green*/
  --color-primary-hover: #588B44; /* Darker Avocado */
  --color-secondary: #DDA15E; /* Oat Beige */
  --color-secondary-hover: #CC9250; /* Darker Oat Beige*/
  --color-base-100: #F5F0E1; /* Light Cream*/
  --color-base-200: #EFE9D9; /* Darker Cream*/
  --color-accent: #3E3E3E; /* Deep Gray*/
  --color-info: #E92D28; /* Cherry Red */
  --color-info-hover: #C92623; /* Dark Cherry */
  --color-border: #D9CFC1; /* Soft Beige */
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #A3C4A8;          /* Soft Avocado Tint */
  --color-primary-hover: #90B093;    /* Slightly Darker Tint */
  --color-secondary: #EACDA3;        /* Warm Beige */
  --color-secondary-hover: #D6B88E;  /* Darker Warm Beige */
  --color-base-100: #1E293B;         /* Deep Charcoal */
  --color-base-200: #2C2C2C;         /* Slightly Lighter Charcoal */
  --color-accent: #F4F4F4;           /* Soft White Text */
  --color-info: #F2857A;             /* Light Cherry */
  --color-info-hover: #E76A5E;       /* Dark Cherry */
  --color-border: #3A3A3A;           /* Subtle Border Gray */

}

* {
  font-family: "Lora", serif;
}