@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6A994E; /* Avocado Green*/
  --color-primary-hover: #588B44; /* Darker Avocado */
  --color-secondary: #DDA15E; /* Oat Beige */
  --color-secondary-hover: #CC9250; /* Darker Oat Beige*/
  --color-base-100: #F5F0E1; /* Light Cream*/
  --color-base-200: #EFE9D9; /* Darker Cream*/
  --color-accent: #3E3E3E; /* Deep Gray*/
  --color-info: #E92D28; /* Cherry Red */
  --color-info-hover: #C92623; /* Dark Cherry */
  --color-border: #D9CFC1; /* Soft Beige */
}

* {
  font-family: "Lora", serif;
}